*{
    margin:0;
    padding: 0;
}
body, html{
    font-family:Arial, Helvetica, sans-serif;
    height:100%;
}/* 2/7 */

body{
    display:grid;
    grid-template-columns: 2fr 7fr;
    grid-template-rows: 1fr 2fr 11fr;
}

.profilePic{
    border-radius: 100%;
}

.sideBar{
    font-weight: bold;
    background-color:bisque;
    color:#155e75;
    padding-left: 20px;
    padding-right: 20px;

    grid-column: 1/2;
    grid-row: 1/14;

    display:grid;
    grid-template-rows: 50px 300px 300px;
    gap: 30px;
}
    .sideBar_title{
        margin-top:30px;
        font-size: 40px;
        display:flex;
        align-items: center; 
    }
    .upper{
        display:grid;
        grid-template-rows: repeat(6,1fr);
        font-size: 18px;
    }
        .upper div{
            display:flex;
            align-items: center;
            gap: 15px;
        }
        .upper div:hover{
            background-color:burlywood;
            cursor:pointer;
        }
    .lower{
        display: grid;
        grid-template-rows: repeat(6,1fr);
        font-size: 18px;
    }
        .lower div{
            display:flex;
            align-items: center;
            gap: 15px;
        }
        .lower div:hover{
            background-color:burlywood;
            cursor:pointer;
        }
    .icon{
        height:21px;
    }
.searchLine{
    background-color: #06b6d4;
    color:#155e75;
    padding-left: 50px;
    padding-right: 20px;

    display:flex;
    flex-direction: row;
    align-items: center;
}
    #searchIcon{
        margin-right: 10px;
    }
    .searchField{
        background-color:lightblue;
        height: 25px;
        width: 500px;
        border: none;
        border-radius: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }
        .searchField:focus{
            outline: none;
            
        }
    #bellIcon{
        margin-left: 200px;
        margin-right: 20px;
    }
    .searchLine p{
        font-weight: bold;
    }
    #smallPic{
        margin-right: 20px;
        height:50px;
    }
.introMenu{
    background-color: #06b6d4;
    padding-left:50px;
    padding-right:100px;

    display:grid;
    grid-template-columns: repeat(10, 1fr);
    align-items: center;
    gap:15px;
}
    #bigPic{
        height: 100px;
        grid-column: 1/2;
    }
    .intro{
        grid-column: 2/5;
        
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
        #hi{
            font-size: 14px;
        }
        #name{
            font-size: 22px;
            font-weight: bold;
        }
    .buttons{
        background-color: bisque;
        color: #155e75;
        height: 35px;
        width:90px;
        font-size: 14px;
        border-style: none;
        border-radius: 25px;
    }
        .buttons:hover{
            background-color: burlywood;
        }.buttons:active{
            transform: scale(1.1);
        }
        #buttonNew{
            grid-column: 8/9;
        }
        #buttonUpload{
            grid-column: 9/10;
        }
        #buttonShare{
            grid-column: 10/11;
        }
.content{
    background-color: brown;
}